<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 60rem;
        padding: 1rem;
      }
      .header {
        padding-left: 3rem;
        max-width: 47rem;
        margin-right: 2.5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      button {
        margin-left: 0.2rem;
        padding: 0.5em;
      }

      button:active {
        opacity: 0.9;
      }

      .rows {
        margin: auto;
        height: 80%;
        width: 90%;
      }

      .row {
        z-index: 5;
        cursor: pointer;
        padding: 1rem;
        border-bottom: 1px solid lightgray;
        display: grid;
        place-items: center center;
        grid-template-columns: 1fr 4fr 2fr 4fr 1fr;
      }

      .row:hover {
        color: white;
        background-color: #d4d4d4;
      }

      .search_box {
        border-radius: 0.5rem;
        align-items: center;
        display: flex;
        justify-content: space-between;
        border: 1px solid lightgray;
        margin-right: 0.5rem;
        padding: 0 0.2rem;
      }

      .search_button {
        font-size: 0.7rem;
        background-color: gray;
        border: none;
      }
      .select {
        width: 6em;
        font-size: 0.9rem;
        border-left: 1px solid lightgray;
      }
      input,
      select {
        background-color: inherit;
        border: none;
        margin: 0;
        height: 100%;
      }

      input:focus {
        outline: none;
      }

      .visible {
        display: block;
      }

      .invisible {
        display: none;
      }
    </style>
    <script>
      const TITLE = "title",
        DATE = "createdAt",
        WRITER = "writer";
      let list = [];
      window.addEventListener("DOMContentLoaded", function () {
        getWrite();
      });

      function getWrite() {
        $("#rows").empty();
        $.ajax({
          type: "GET",
          url: "/view",
          data: {},
          success: function (res) {
            if (!res.result) {
              alert("글을 읽어오지 못했습니다.");
            } else {
              const { data = [] } = res;
              list = data;
              paintList(data);
            }
          },
        });
      }

      function goToDetail(e) {
        const classes = e.target.className.split(" ");
        const id = classes[1];

        $.ajax({
          type: "POST",
          data: { id },
          url: `/detail`,
          success: function (response) {
            list.forEach((item) => {
              if (item["_id"] === id) {
                item["views"] += 1;
              }
              $(".rows").empty();
              paintList(list);
            });
            window.location.href = `/detail/${id}`;
          },
        });
      }

      function paintList(data) {
        data.map((item, index) => {
          const { title, writer, _id, createdAt, comment, views = 0 } = item;

          const date = createdAt.split("-");
          const newDate = `${date[0]}-${date[1]}-${String(date[2]).substring(
            0,
            2
          )}.`;

          const list = `
                  <div class="index ${_id}">${index + 1}</div>
                  <div class="title ${_id}">${
            title.length >= 11 ? `${title.substring(0, 10)}...` : title
          }</div>
                  <div class="writer ${_id}">${
            writer.length > 11 ? `${writer.substring(0, 10)}...` : writer
          }</div>
                  <div class="date ${_id}">${newDate}</div>
                  <div class="views ${_id}">조회수 ${views}</div>
                `;

          const rows = document.querySelector(".rows");
          const row = document.createElement("div");
          row.className = `row ${_id}`;
          row.addEventListener("click", goToDetail);
          row.innerHTML = list;
          rows.appendChild(row);
        });
      }

      function changeDateMode() {
        const selected = $("#search_select").val();
        if (selected === "createdAt") {
          $(".date").toggleClass("invisible");
          $(".search").toggleClass("invisible");
        } else {
          $(".date").addClass("invisible");
          $(".search").removeClass("invisible");
        }
      }

      function sortList(itemName, isUp) {
        if (isUp) {
          list = list.sort(function (a, b) {
            if (a[itemName] < b[itemName]) return 1;
            if (a[itemName] > b[itemName]) return -1;
            if (a[itemName] === b[itemName]) return 0;
          });
        } else {
          list = list.sort(function (a, b) {
            if (a[itemName] > b[itemName]) return 1;
            if (a[itemName] < b[itemName]) return -1;
            if (a[itemName] === b[itemName]) return 0;
          });
        }
      }

      function handleSortList(signal) {
        $("#rows").empty();
        const itemName = signal.toLowerCase();
        switch (signal) {
          case TITLE:
            const titleItem = $("#title_order");
            const titleIsUp = titleItem.hasClass("1");
            sortList(signal, titleIsUp);
            paintList(list);
            titleItem.toggleClass("1");
            break;

          case WRITER:
            const writerItem = $("#writer_order");
            const writerIsUp = writerItem.hasClass("1");
            sortList(signal, writerIsUp);
            paintList(list);
            writerItem.toggleClass("1");
            break;

          case DATE:
            const dateItem = $("#date_order");
            const dateIsUp = dateItem.hasClass("1");
            sortList(signal, dateIsUp);
            paintList(list);
            dateItem.toggleClass("1");
            break;
        }
      }

      function search() {
        const selected = $("#search_select").val();
        const term =
          selected !== "createdAt" ? $("#search").val() : $(".date").val();

        $.ajax({
          type: "GET",
          url: `/search/${selected}`,
          data: { selected, term },
          success: function (res) {
            const isSuccess = res["result"];
            if (!isSuccess) {
              alert("검색에 실패했습니다.");
            } else {
              $("#rows").empty();
              list = res["data"];
              paintList(res["data"]);
            }
          },
        });
      }
    </script>
  </head>
  <body>
    <div class="header">
      <div class="search_box">
        <input id="search" class="search" type="text" />
        <input type="date" class="date invisible" />

        <div class="select" onchange="changeDateMode()">
          <select id="search_select" class="search_select">
            <option value="title" selected>제목</option>
            <option value="createdAt">날짜</option>
            <option value="writer">작성자</option>
          </select>
        </div>
        <button class="search_button" onclick="search()">검색</button>
      </div>

      <button id="write" onclick="location.href = '/write'">글 작성</button>
      <button id="date_order" onclick="handleSortList(DATE)">날짜 정렬</button>
      <button id="writer_order" onclick="handleSortList(WRITER)">
        작성자 정렬
      </button>
      <button id="title_order" onclick="handleSortList(TITLE)">
        제목 정렬
      </button>
    </div>
    <div class="rows" id="rows">
      <div class="row" onClick="goToDetail()">
        <div class="index">index</div>
        <div class="title">title</div>
        <div class="writer">writer</div>
        <div class="date">date</div>
        <div class="views">views</div>
      </div>
    </div>
  </body>
</html>
