<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <script src="jquery-3.5.1.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            padding: 1rem;
            background-color:#f2f7fa ;
        }
        .header{
            margin-left: 2.7rem;
        }
        button{
            padding:.5em
        }

        button:active{
            opacity: .9;
        }

        .rows{
            margin:auto;
            height:80%;
            width:90%;
        }

        .row{
            cursor: pointer;
            padding:1rem ;
            border-bottom: 1px solid lightgray;
            display: grid;
            place-items: center center;
            grid-template-columns: 1fr 4fr 2fr 2fr 1fr;
        }

        .row:hover{
            color: white;
            background-color: #d4d4d4;
        }
    </style>
</head>
<body>

    <div class="header">
        <button id="write">글 작성</button>
        <button id="date_order">날짜순정렬</button>
        <button id="writer_order">작성자 순 정렬</button>
        <button id="title_order">제목 순 정렬</button>
    </div>
    <div class="rows">
        <div class="row">
            <div class="index">index</div>
            <div class="title">title</div>
            <div class="writer">writer</div>
            <div class="date">date</div>
            <div class="views">views</div>
        </div>
        <div class="row">
            <div class="index">1</div>
            <div class="title">thjkhjkitle</div>
            <div class="writer">wriasdfter</div>
            <div class="date">date</div>
            <div class="views">views</div>
        </div>
        <div class="row">
            <div class="index">index</div>
            <div class="title">title</div>
            <div class="writer">writer</div>
            <div class="date">date</div>
            <div class="views">views</div>
        </div>
        <div class="row">
            <div class="index">index</div>
            <div class="title">title</div>
            <div class="writer">writer</div>
            <div class="date">date</div>
            <div class="views">views</div>
        </div>
        <div class="row">
            <div class="index">index</div>
            <div class="title">title</div>
            <div class="writer">writer</div>
            <div class="date">date</div>
            <div class="views">views</div>
        </div>
        <div class="row">
            <div class="index">index</div>
            <div class="title">title</div>
            <div class="writer">writer</div>
            <div class="date">date</div>
            <div class="views">views</div>
        </div>
        <div class="row">
            <div class="index">index</div>
            <div class="title">title</div>
            <div class="writer">writer</div>
            <div class="date">date</div>
            <div class="views">views</div>
        </div>
        <div class="row">
            <div class="index">index</div>
            <div class="title">title</div>
            <div class="writer">writer</div>
            <div class="date">date</div>
            <div class="views">views</div>
        </div>
        <div class="row">
            <div class="index">index</div>
            <div class="title">title</div>
            <div class="writer">writer</div>
            <div class="date">date</div>
            <div class="views">views</div>
        </div>
        <div class="row">
            <div class="index">index</div>
            <div class="title">title</div>
            <div class="writer">writer</div>
            <div class="date">date</div>
            <div class="views">views</div>
        </div>
        <div class="row">
            <div class="index">index</div>
            <div class="title">title</div>
            <div class="writer">writer</div>
            <div class="date">date</div>
            <div class="views">views</div>
        </div>
        <div class="row">
            <div class="index">index</div>
            <div class="title">title</div>
            <div class="writer">writer</div>
            <div class="date">date</div>
            <div class="views">views</div>
        </div>
        <div class="row">
            <div class="index">index</div>
            <div class="title">title</div>
            <div class="writer">writer</div>
            <div class="date">date</div>
            <div class="views">views</div>
        </div>
        <div class="row">
            <div class="index">index</div>
            <div class="title">title</div>
            <div class="writer">writer</div>
            <div class="date">date</div>
            <div class="views">views</div>
        </div>
        <div class="row">
            <div class="index">index</div>
            <div class="title">title</div>
            <div class="writer">writer</div>
            <div class="date">date</div>
            <div class="views">views</div>
        </div>
    </div>
    


</body>
</html>