<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <style>
      body{
          min-width:55rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 1rem;
          height:100vh;
      }

      #title{
          width:15em;
      }

      main{
          padding:1rem;
          margin:0;
      }



      textarea,input{
          padding:.6rem 1.5rem;
          font-size: 1rem;
          border:gray 1px solid;
      }
      input,button{
          margin: .5rem 0;
      }
      textarea{
          width:100%;
          resize: none;
          margin: 0;
      }
      button{
          font-size: .9rem;
          padding:.5rem 2rem;
      }
      button:active{
          opacity: .9;
      }
      header{
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          position:relative;
          min-width:55rem;
      }
    span{
        font-size: .7rem;
        position: absolute;
        right:1rem;
        bottom: 0;
    }
    @media screen and (max-width: 1000px) {
        body {
          font-size: 0.7rem;
        }
      }


      .form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        }

     textarea,.form{
         min-width: 52rem
     }


    </style>
    <script>
        window.addEventListener('DOMContentLoaded',function(){
            console.log('Write');
        });
        
        function post_write(){
            const  title =$('#title').val();
            const  writer =$('#writer').val();
            const  password =$('#password').val();
            const  comment =$('#comment').val();
            
        $.ajax({
          type: "POST",
          url: `/write`,
          data: {title,writer,password,comment},
          success: function (response) {
            if(response.result){
                alert("글쓰기가 완료되었습니다.");
                window.location.href="/";
            }else{
                alert("글쓰기가 실패했습니다.")
            }
          },
        });
      }
        


    </script>
</head>
<body>
    <header>
        <h1>게시판 글쓰기</h1>
        <span>오늘날짜</span>
    </header>
<main>
            <div class="form">
                <input placeholder="제목" id="title" type="text" ></input>
                <input placeholder="닉네임" id="writer" type="text" ></input>
                <input placeholder="비밀번호" id="password" type="password"  ></input>
                <button onclick="post_write()">글쓰기</button>
            </div>
            <textarea name="comment" id="comment" cols="100" rows="50"></textarea>

</main>
   


</body>
</html>